<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="VisualSoftERP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>

	<connectionStrings>
		<add
		   name="Production"
		   connectionString="Data Source =99.79.176.209;Initial Catalog=DiexsaErp;user id=diexsaUserSuEmp;Password=dx2024*;TrustServerCertificate=True;"
		   providerName="System.Data.SqlClient"
		/>
		<add
		   name="Development"
		   connectionString="Data Source =cartasportemty.com; Initial Catalog = _DiexsaErp; user id=diexsaUser24; Password=diexsaUser24; TrustServerCertificate=True;"
		   providerName="System.Data.SqlClient"
		/>
		<add
			name="Test"
			connectionString="Data Source=DIEXSASIST;Initial Catalog=ERP; user id=Diexsa; Password=dx2024*;  Persist Security Info=True;TrustServerCertificate=True;"
			providerName="System.Data.SqlClient"
		/>
	</connectionStrings>

	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value>System</value>
			</setting>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value>Skin/Visual Studio 2013 Blue</value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value></value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value></value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value></value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value />
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>

	</applicationSettings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>

	<appSettings>
		<!--INITIALIZE PROGRAM-->
		<add key="Server"    value="Test" />
		<add key="isConnectionStringCrypted" value="false" />
		<add key="EncryptKeyConnectionString"   value=""  />
		<add key="EncryptIVConnectionString"    value=""  />
		<add key="isInstalled" value="false"/>
		<add key="mainPath" value="C:\VisualSoftErp\" />
		<!--INITIALIZE PROGRAM-->		
	</appSettings>

	<system.web>
		<httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
	</system.web>
	
	<userSettings>
		<VisualSoftERP.Properties.Settings>
			<setting name="ApplicationSkinName" serializeAs="String">
				<value />
			</setting>
		</VisualSoftERP.Properties.Settings>
	</userSettings>
	
</configuration>